@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.common_width {
  width: 1300px;
  margin: 0rem auto;
}
body {
  background-color: #000;
  font-family: "Poppins", sans-serif;
}
.telegram_button {
  background: linear-gradient(to right, #07274f, #0279f6);
  padding: 1.2rem 2rem;
  border-radius: 99px;
  border: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 40px;
  right: 5%;
  z-index: 888;
  transform: translateX(5%);
  cursor: pointer;
  transition: 0.3s ease all;
  animation: 2s RotateButton2 linear;
}
.Presale_button {
  background: linear-gradient(to right, #07274f, #0279f6);
  padding: 1.2rem 2rem;
  border-radius: 99px;
  border: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 40px;
  left: 5%;
  z-index: 888;
  transform: translateX(-5%);
  cursor: pointer;
  transition: 0.3s ease all;
  animation: 2s RotateButton linear;
}

@keyframes RotateButton {
  0% {
    transform: translateX(-5%) rotate(20deg);
  }
  10% {
    transform: translateX(-5%) rotate(-20deg);
  }
  20% {
    transform: translateX(-5%) rotate(20deg);
  }
  30% {
    transform: translateX(-5%) rotate(-20deg);
  }
  40% {
    transform: translateX(-5%) rotate(20deg);
  }
  50% {
    transform: translateX(-5%) rotate(-20deg);
  }
  60% {
    transform: translateX(-5%) rotate(20deg);
  }
  70% {
    transform: translateX(-5%) rotate(-20deg);
  }
  80% {
    transform: translateX(-5%) rotate(20deg);
  }
  90% {
    transform: translateX(-5%) rotate(-20deg);
  }

  100% {
    transform: translateX(-5%) rotate(0deg);
  }
}
@keyframes RotateButton2 {
  0% {
    transform: translateX(5%) rotate(20deg);
  }
  10% {
    transform: translateX(5%) rotate(-20deg);
  }
  20% {
    transform: translateX(5%) rotate(20deg);
  }
  30% {
    transform: translateX(5%) rotate(-20deg);
  }
  40% {
    transform: translateX(5%) rotate(20deg);
  }
  50% {
    transform: translateX(5%) rotate(-20deg);
  }
  60% {
    transform: translateX(5%) rotate(20deg);
  }
  70% {
    transform: translateX(5%) rotate(-20deg);
  }
  80% {
    transform: translateX(5%) rotate(20deg);
  }
  90% {
    transform: translateX(5%) rotate(-20deg);
  }

  100% {
    transform: translateX(5%) rotate(0deg);
  }
}

.telegram_button:hover,
.Presale_button:hover {
  filter: brightness(150%);
}
.telegram_button i {
  font-size: 25px;
  margin-right: 10px;
}
.telegram_button p {
  text-transform: uppercase;
  font-weight: 600;
}
.header_wrapper {
  position: sticky;
  top: 0px;
  z-index: 999;
}

.header_wrapper.active {
  background-color: #000;
}
.header_wrapper.active header {
  height: 100px;
}
header {
  width: 90%;
  margin: auto;
  justify-content: space-between;

  transition: 0.5s ease all;
}
header nav > li {
  height: 140px;
  display: flex;
  align-items: center;
}
header .top_area {
  display: flex;
  align-items: center;
  position: relative;
  color: #fff;
  cursor: pointer;
}
header .top_area > * + * {
  margin-left: 1rem;
}

header,
header nav {
  display: flex;
  align-items: center;
}
header > a img {
  width: 220px;
}
header li ul {
  position: absolute;
  top: 80%;
  background-color: #000;
  border-radius: 10px;
  padding: 1rem;
  z-index: 9999;
  display: none;
}
header li:hover ul {
  display: block;
}
header li:hover .top_area i {
  transform: rotate(180deg);
}
header li ul > * + * {
  margin-top: 1rem;
}
header li ul a {
  font-weight: 500;
  font-size: 19px;
}
header nav a,
header .top_area p {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
header nav > * + * {
  margin-left: 2rem;
}
header nav > *:last-child {
  margin-left: 1rem;
}
header nav .button {
  background: linear-gradient(to right, #07274f, #0279f6);
  padding: 0.8rem 2rem;
  border-radius: 99px;
  animation: 2s RotateButtonHeader linear;
  display: inline-block;
  transition: 0.3s ease all;
}
header nav .button:hover {
  filter: brightness(150%);
}

@keyframes RotateButtonHeader {
  0% {
    transform: rotate(20deg);
  }
  10% {
    transform: rotate(-20deg);
  }
  20% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(-20deg);
  }
  40% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  60% {
    transform: rotate(20deg);
  }
  70% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(20deg);
  }
  90% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
